*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.blue-color{
    background-color: rgb(23, 23, 109);
    color: white;
    font-family: roboto;
    
}


.blue-color a{
    color: white;
    font-family: roboto;
    text-decoration: none;
}

.card{
    display: flex;
}

#container{
    justify-content: space-evenly;
}